# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# next.js
.next/
out/
build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# turbo
.turbo

.vscode

# emacs
*~
\#*\#
*.elc
auto-save-list
tramp
.\#*

# server cache and build artifacts
apps/server/.cache/
apps/server/__pycache__/
__pycache__/

# log files
*.log
apps/server/_logs/

# alignment output files
*.sam
*.sam.log

# test/temporary index files
apps/server/test.*
apps/server/aligned*

# python cache
*.pyc